/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    height: 100vh;
}