<div class="content">
  <div class="block">
    <div class="title">
      Scripte Übersicht
    </div>
    <div *ngIf="scripts.length == 0" class="info-box no-scripts font">
      Keine Scripte verfügbar
    </div>
    <div class="script" *ngFor="let script of scripts">
      <div class="flex-holder">
        <div class="table-holder">
          <table>
            <tr>
              <th>Eingeloggt als</th>
              <td>{{ script.username }}</td>
            </tr>
            <tr>
              <th>Karte</th>
              <td>{{ script.map }}</td>
            </tr>
            <tr>
              <th>Punkte</th>
              <td>560 (hard)</td>
            </tr>
            <tr>
              <th>Anzahl Dörfer</th>
              <td>{{ script.villages ? script.villages.length : '?' }}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td>{{ script.status }}</td>
            </tr>
            <tr>
              <th>Server</th>
              <td>{{ script.server }}</td>
            </tr>
            <tr>
              <th>Anzahlt Plugins</th>
              <td>{{ script.plugins.length }}</td>
            </tr>
          </table>
        </div>
        <div class="button-holder" *ngIf="script.status != 'offline' &&  script.connected">
          <a class="btn" [routerLink]="'script/' + script._id">Plugin Details</a>
        </div>
      </div>
      <button (click)="trigger(script._id, 'kill')" [disabled]="script.status == 'offline' || isOperating || !script.connected">Terminieren</button>
      <!--<button (click)="trigger(script._id, 'pause')" [disabled]="!script.canPause">Pausieren</button>-->
      <button (click)="trigger(script._id, 'start')" [disabled]="script.status != 'offline' || isOperating || !script.connected">Starten</button>
      <button (click)="confirm('sicher ?') && trigger(script._id, 'remove')" [disabled]="script.status != 'offline' || isOperating">Löschen</button>
    </div>
    <div class="center">
      <button class="btn spaced" routerLink="addscript">neues Script hinzufügen</button>
    </div>

  </div>
</div>
