<div class="content">

  <!-- Scripts -->
  <div class="block">
    <div class="title">
      Scripts
    </div>
    <div *ngIf="scripts.length == 0">
      No scripts availble
    </div>
    <div class="script" *ngFor="let script of scripts">
      <div class="name">{{ script.config.username }} ({{ script.config.server }}, {{ script.config.map }})</div>
      <table>
        <tr>
          <td>Status</td>
          <td>{{ script.status }}</td>
        </tr>
      </table>
      <div>Plugins</div>
      <ul class="effects">
        <li *ngFor="let plugin of script.plugins">{{ plugin }}</li>
      </ul>
      <a [routerLink]="'script/' + script._id">more details</a>
    </div>
    <a routerLink="addscript">Add Script</a>
  </div>
</div>