<div class="content">

  <!-- Getting Started -->
  <div class="block">
    <div class="title">
      Getting Started
    </div>
    <div class="container-fluid">
      <table>
        <tr>
          <td>
            Login to use this tool some more random content thats inside this box because i need to fill the space for
            further design checks so there is even more content causing a linebreak inside the table
          </td>
          <td>
            <a routerLink="/login">Login</a>
            <br>
            <a routerLink="/register">Register</a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- How it works -->
  <div class="block">
    <div class="title">
      How It Works
    </div>
    <div class="container-fluid">
      This works by using a vbrowser that controlls the page<br>
      <a routerLink="/how-it-works">read more</a>
    </div>

  </div>

  <!-- My Motivation -->
  <div class="block">
    <div class="title">
      My Motivation
    </div>
    <div class="container-fluid">
      Im doing this because i can...<br>
      <a routerLink="/about">read more</a>
    </div>
  </div>

  <!-- Important Infomations -->
  <div class="block">
    <div class="title">
      Imporant Informations
    </div>
    <div class="container-fluid">
      The use of this tool is again the guildelines of tribal wars...<br>
      <a routerLink="/terms">read more</a>
    </div>
  </div>
</div>
