<div class="container">
  <div class="status">
    <table class="element">
      <tr>
        <td>socket (UI)</td>
        <td><img [src]="'data:image/png;base64,' + (connected ? imgs.CONN : imgs.NOCONN)"></td>
        <td>Script</td>
        <td><img [src]="'data:image/png;base64,' + (!connected ? imgs.QUESTION : script == 'running' ? imgs.CHECK : script == 'paused' ? imgs.PAUSE : imgs.CROSS)"></td>
      </tr>
    </table>
  </div>
  <navigation></navigation>
  <router-outlet></router-outlet>
</div>