<div *ngIf="data">
  <!--Name<input type="text"><br>
  Server <select [(ngModel)]="server" (change)="map = undefined; usedEffects = {}">
    <option *ngFor="let server of data.servers" [value]="server.key">{{ server.value }}</option>
  </select><br>
  Map <select [disabled]="!server" [(ngModel)]="map" (change)="usedEffects = {}">
    <option *ngFor="let map of maps" [value]="map">{{ map }}</option>
  </select><br>
  Effects<br>
  <div class="effect" *ngFor="let effect of effects">
    Use: <input type="checkbox" [(ngModel)]="usedEffects[effect.name]"><br>
    <div class="name">Name: {{ effect.name }}</div>
    <div class="desc">Desc: {{ effect.description }}</div>
    <div class="price">Price: {{ effect.price }}</div>
    <div class="author">Author: {{ effect.author }}</div>
  </div>-->

  
  <button (click)="back()">Back</button>
  <button [disabled]="steps[step].disabled()" (click)="next()">Next</button>

  <div class="title">
    {{ steps[step].title }}
  </div>

  <div *ngIf="step == 0">
  </div>
  <div *ngIf="step == 1">
    <div class="input-holder" *ngFor="let server of data.servers">
        <input type="radio"  [value]="server.key" [id]="'server' + server.key" [(ngModel)]="scope.server">
        <label [for]="'server' + server.key">{{ server.value }}</label>
    </div>
  </div>
  <div *ngIf="step == 2">
    <div class="input-holder" *ngFor="let map of maps">
        <input type="radio"  [value]="map" [id]="'map' + map" [(ngModel)]="scope.map">
        <label [for]="'map' + map">{{ map }}</label>
    </div>
  </div>
  <div *ngIf="step == 3">
    Tick
    <dyn-form [data]="ticks" [(outval)]="scope.ticks"></dyn-form>
  </div>
  <div *ngIf="step == 4">
    <div class="title">Notice: Not all plugins are compatible with all worlds</div>
    <div class="plugin" *ngFor="let plugin of data.plugins">
      Use: <input type="checkbox" [(ngModel)]="scope.plugins[plugin.name]"><br>
      <div class="name">Name: {{ plugin.name }}</div>
      <div class="desc">Desc: {{ plugin.description }}</div>
      <div class="price">Requires: {{ (plugin.requires || []).join(", ") }}</div>
    </div>
  </div>
  <div *ngIf="step == 5">
    <input type="text" [(ngModel)]="scope.username">
    <input type="password" [(ngModel)]="scope.password">
  </div>
  <div *ngIf="step == 6">
    <table>
      <tr *ngFor="let sum of parseSummary()">
        <td>{{ sum.key }}</td>
        <td>{{ sum.value }}</td>
      </tr>
    </table>
    <button (click)="submit()">Create</button>
  </div>
</div>
