<div class="form">
  <table>
    <tr>
      <td>Server</td>
      <td>
        <input type="text" [(ngModel)]="form.server">
      </td>
    </tr>
    <tr>
      <td>Server Code</td>
      <td>
        <select [(ngModel)]="form.serverCode">
          <option value="de161">DE 161</option>
          <option value="de162">DE 162</option>
          <option value="de163">DE 163</option>
          <option value="de164">DE 164</option>
          <option value="de165">DE 165</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" [(ngModel)]="form.username">
      </td>
    </tr>
    <tr>
      <td>Passwort</td>
      <td>
        <input type="password" [(ngModel)]="form.password">
      </td>
    </tr>
    <tr>
      <td>Plugins</td>
      <!--<td>
        <textarea cols="30" rows="10" [(ngModel)]="form.plugins" placeholder="new line separated"></textarea>
      </td>-->
      <td>
        <table *ngIf="plugins">
          <tr *ngFor="let plugin of plugins">
            <td><input type="checkbox" (click)="applyPlugin(plugin)" [disabled]="disabled(plugin)"></td>
            <td>{{ plugin.name }}</td>
            <td>{{ plugin.description }}</td>
            <td *ngIf="disabled(plugin)">{{ disabled(plugin) }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><button (click)="submit()">Hinzufügen</button></td>
    </tr>
  </table>
</div>
