<div class="form">
  <table>
    <tr>
      <td>Map</td>
      <td>
        <input type="text" [(ngModel)]="form.map" placeholder="161">
      </td>
    </tr>
    <tr>
      <td>Server</td>
      <td>
        <input type="text" [(ngModel)]="form.server">
      </td>
    </tr>
    <tr>
      <td>Server Code</td>
      <td>
        <input type="text" [(ngModel)]="form.serverCode" placeholder="de161">
      </td>
    </tr>
    <tr>
      <td>Server Url</td>
      <td>
        <input type="text" [(ngModel)]="form.serverUrl">
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <input type="text" [(ngModel)]="form.username">
      </td>
    </tr>
    <tr>
      <td>Passwort</td>
      <td>
        <input type="password" [(ngModel)]="form.password">
      </td>
    </tr>
    <tr>
      <td>Plugins</td>
      <td>
        <textarea cols="30" rows="10" [(ngModel)]="form.plugins" placeholder="new line separated"></textarea>
      </td>
    </tr>
    <tr>
      <td><button (click)="submit()">Hinzufügen</button></td>
    </tr>
  </table>
</div>
